<!DOCTYPE html>
<html>
<body>
<section data-ng-controller="SearchForSetCntl">

    <h2>Search for a lego set</h2>
    <label for="query">Query string:</label>
    <input type="text" id="query" name="query" data-ng-model="model.query"/>

    <br>

    <label for="query">Filter Sets By:</label>
    <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="S" data-ng-model="model.type"> Set
    </label>
    <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="M" data-ng-model="model.type"> My Own Construction
    </label>
    <br>
    <button type="button" data-ng-click="searchForLegoSet()">Go!</button>

    <lego-table results="searchResults"></legoTable>

</section>
</body>
</html>
