<!DOCTYPE html>
<html>
<body>
<section data-ng-controller="OwnedPartsCntl">
    <h2>Your owned Parts</h2>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Piece Number</th>
            <th>Color</th>
            <th>Weight</th>
            <th>Piece Count</th>
            <th>More Details</th>
        </tr>
        </thead>
        <tbody>
        <!-- iterate over object from results -->
        <tr data-ng-repeat="item in searchResults">
            <td>{{item.pieceNumber}}</td>
            <td>{{item.color}}</td>
            <td>{{item.weight}}</td>
            <td>{{item.pieceCount}}</td>
            <td>
                <button type="button"
                        class="btn btn-info"
                        data-ng-click="displayPieceDetails(item.pieceNumber)">Tell me more!</button>


            </td>
        </tr>
        </tbody>

    </table>


</section>
</body>
</html>
